main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

section,
form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#generate {
  margin-top: 5px;
}

#resetBtn {
  margin-bottom: 8px;
}
